<div class="checkOut">
    <div class="row">
        <div class="container">
            <h2>Ваш заказ</h2>
            <table class="table" id="tableOrder" cellspacing="0" width="100%">
                <thead>
                <tr>
                    <th class="">Наименование</th>
                    <th class=""></th>
                    <th class="col-md-2">Количество</th>
                    <th class="col-md-1">Цена</th>
                    <th class="col-md-1"></th>
                </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
            <hr>
            <div class="col-sm-6">


            </div>
            <div class="col-md-6 text-right">

                <h2>Всего:</h2>

                <p class="full"><span></span>
                    <small><i class="fa fa-rub"></i></small>
                </p>

                <div class="btn-group" role="group">
                    <button class="btn btn-lg btn-default" onclick='$("#select_delivery").nifty("show");
'>Изменить вариант доставки
                    </button>
                    <button type="button" id="orderNow" class="btn btn-lg btn-success">ЗАКАЗАТЬ</button>

                </div>
            </div>
            <a href="#0" class="closezakazbtn"><span class="og-close"></span></a>
        </div>
    </div>
</div>

<div class="nifty-modal super-scaled" id="select_sous">
    <div class="md-content">
        <div class='md-title'>
            <h3>Выберите соус</h3>
        </div>
        <div class='md-body'>
            <div class="cc-selector">
                <div class="sous_select_box">
                    <div class="row">
                        <div class="col-md-2"><img class="img-responsive"
                                                   src="{{ url_for('static',filename='select_sous/arrabiata.JPG') }}"
                                                   alt=" "></div>
                        <div class="col-md-8"><h3>Аррабиата</h3>основа: томаты в соку, оливковое масло, перец чилли.
                        </div>
                        <div class="col-md-2">
                            <a href="#0" data-text="Аррабиата" class="btn btn-success">Выбрать</a></div>

                    </div>
                </div>
                <hr>

                <div class="sous_select_box">
                    <div class="row">
                        <div class="col-md-2"><img class="img-responsive"
                                                   src="{{ url_for('static',filename='select_sous/beshamel.jpg') }}"
                                                   alt=" "></div>
                        <div class="col-md-8"><h3>Бешамель</h3>основа: мускатный орех, мука, молоко.
                        </div>
                        <div class="col-md-2">
                            <a href="#0" data-text="Бешамель" class="btn btn-success">Выбрать</a></div>
                    </div>
                </div>
                <hr>

                <div class="sous_select_box">
                    <div class="row">
                        <div class="col-md-2"><img class="img-responsive"
                                                   src="{{ url_for('static',filename='select_sous/gribnoi.jpg') }}"
                                                   alt=" "></div>
                        <div class="col-md-8"><h3>Грибной</h3>основа: свежие шампиньоны, сметана, сливки.

                        </div>
                        <div class="col-md-2">
                            <a href="#0"  data-text="Грибной" class="btn btn-success">Выбрать</a></div>
                    </div>
                </div>
                <hr>

                <div class="sous_select_box">
                    <div class="row">
                        <div class="col-md-2"><img class="img-responsive"
                                                   src="{{ url_for('static',filename='select_sous/pesto.jpg') }}"
                                                   alt=" "></div>
                        <div class="col-md-8"><h3>Песто</h3>основа: базилик, кедровые орехи, оливковое масло.

                        </div>
                        <div class="col-md-2">
                            <a href="#0"  data-text="Песто"  class="btn btn-success">Выбрать</a></div>
                    </div>
                </div>
                <hr>

                <div class="sous_select_box">
                    <div class="row">
                        <div class="col-md-2"><img class="img-responsive"
                                                   src="{{ url_for('static',filename='select_sous/slivoch.jpg') }}"
                                                   alt=" "></div>
                        <div class="col-md-8"><h3>Сливочный</h3>основа: сливки, пармезан, сливочное масло.

                        </div>
                        <div class="col-md-2">
                            <a href="#0" data-text="Сливочный"  class="btn btn-success">Выбрать</a></div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>

<div class="nifty-modal super-scaled" id="select_delivery">
    <div class="md-content">
        <div class='md-title'>
            <h3>Выберите вариант доставки</h3>
        </div>
        <div class='md-body'>
            <div class="cc-selector text-center center-block">
                <div class="deliverybox">
                    <input id="deliveryinhome" type="radio" name="delivery" value="deliveryinhome"/>
                    <label class="drinkcard-cc deliveryinhome" for="deliveryinhome"></label>
                    <span>Доставка</span>
                </div>
                <div class="deliverybox">
                    <input id="deliverymyself" type="radio" name="delivery" value="deliverymyself"/>
                    <label class="drinkcard-cc deliverymyself" for="deliverymyself"></label>
                    <span>Самовывоз</span>
                </div>
                <div class="deliverybox">
                    <input id="deliveryincafe" type="radio" name="delivery" value="deliveryincafe"/>
                    <label class="drinkcard-cc deliveryincafe" for="deliveryincafe"></label>
                    <span>В кафе</span>
                </div>
            </div>
            <p></p>
            <button class="btn btn-success select_it ">Выбрать</button>
            <br>
            {#                    <button class="btn btn-primary md-close">Я выберу позже</button>#}


        </div>
    </div>
</div>
<div class='md-overlay'></div>