<div class="checkOut">
        <div class="row">
            <div class="container">
                <h2>Ваш заказ</h2>
                <table class="table" id="tableOrder" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="">Наименование</th>
                        <th class=""></th>
                        <th class="col-md-2">Количество</th>
                        <th class="col-md-1">Цена</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
                <div class="col-sm-6">



                </div>
                <div class="col-md-6 text-right">

                    <h2>Всего:</h2>

                    <p class="full"><span></span>
                        <small><i class="fa fa-rub"></i></small>
                    </p>

                        <div class="btn-group" role="group">
                            <button class="btn btn-lg btn-default" onclick='$("#select_delivery").nifty("show");
'>Изменить вариант доставки</button>
                            <button type="button" id="orderNow" class="btn btn-lg btn-success">ЗАКАЗАТЬ</button>

                        </div>
                </div>
                <a href="#0" class="closezakazbtn"><span class="og-close"></span></a>
            </div>
        </div>
    </div>
    <div class="nifty-modal super-scaled" id="select_delivery">
        <div class="md-content">
            <div class='md-title'>
                <h3>Выберите вариант доставки</h3>
            </div>
            <div class='md-body'>
                <div class="cc-selector text-center center-block">
                    <div class="deliverybox">
                        <input id="deliveryinhome" type="radio" name="delivery" value="deliveryinhome"/>
                        <label class="drinkcard-cc deliveryinhome" for="deliveryinhome"></label>
                        <span>Доставка</span>
                    </div>
                    <div class="deliverybox">
                        <input id="deliverymyself" type="radio" name="delivery" value="deliverymyself"/>
                        <label class="drinkcard-cc deliverymyself" for="deliverymyself"></label>
                        <span>Самовывоз</span>
                    </div>
                    <div class="deliverybox">
                        <input id="deliveryintime" type="radio" name="delivery" value="deliveryintime"/>
                        <label class="drinkcard-cc deliveryintime" for="deliveryintime"></label>
                        <span>Предзаказ</span>
                    </div>
                    <div class="deliverybox">
                        <input id="deliveryincafe" type="radio" name="delivery" value="deliveryincafe"/>
                        <label class="drinkcard-cc deliveryincafe" for="deliveryincafe"></label>
                        <span>В кафе</span>
                    </div>
                </div>
<p></p>
                    <button class="btn btn-success select_it ">Выбрать</button>
                <br>
{#                    <button class="btn btn-primary md-close">Я выберу позже</button>#}


            </div>
        </div>
    </div>
    <div class='md-overlay'></div>