{% extends "panel.html" %}
{% block body %}

    <form action="" class="col-md-6" method="post" enctype=multipart/form-data>


    <div class="form-group">
    {{ form.item_name(class="form-control", placeholder=form.item_name.label.text) }}
    </div>

    <div class="form-group">
    {{ form.item_component(class="form-control", placeholder=form.item_component.label.text) }}
    </div>

    <div class="form-group">
    {{ form.category_id(class="form-control", placeholder=form.category_id.label.text) }}
    </div>

    <div class="form-group">
    {{ form.price(class="form-control", placeholder=form.price.label.text) }}
    </div>

    <div class="form-group">
    {{ form.weight(class="form-control", placeholder=form.weight.label.text) }}
    </div>


    <div class="form-group">
    {{ form.img(class="form-control", value=img) }}
    </div>

        <a class="btn btn-default" onclick="window.history.back()">Назад</a>
        <input class="btn btn-success" value="Добавить" type="submit">

</form>
    <div class="col-md-6">
        <img src="{{ url_for("static", filename='upload/'+img) }}" class="img-responsive" alt="">
    </div>
{% endblock %}