    <div class="container otherPage">
        <div class="row">
            <div class="contacts-top">
                <a class="phone-top" href="tel:253-356"><i class="fa fa-phone"></i> 253-356</a> |
                <a href="https://vk.com/nv_pizza">Мы в <i class="fa fa-vk"></i></a> |
                <a href="https://www.instagram.com/sir_vincenzo/">Мы в <i class="fa fa-instagram"></i></a>
            </div>
        </div>
        <div class="row">
            <ul id="menu">
                <li>
                    <a class="logoa"><img src="{{ url_for('static', filename='img/Sir2.png') }}" class="img-responsive"
                                     alt=""></a>
                </li>
                <li><a href="{{ url_for('index') }}">Главная</a></li>
                <li><a href="{{ url_for('sales') }}">Акции</a></li>
                <li><a class="showCart" href="#">Корзина</a></li>
                <li><a href="#!">Мой Vincenzo</a>

                    {% if  current_user.is_authenticated %}
                        <ul class="aboutProfile">
                            <li>Привет, {{ current_user.username }}!</li>
                            <li class="divider"></li>
                            <li><a href="{{ url_for('settings') }}"><i class="fa fa-cog"></i> Настроить</a></li>
                            <li><a href="{{ url_for('logout') }}"><i class="fa fa-sign-out"></i> Выход</a></li>
                        </ul>
                    {% endif %}
                    {% if not current_user.is_authenticated %}
                        <ul class="aboutProfile auch">
                            <li><input type="text" class="form-control" name="inputPhone" id="inputPhone"
                                       placeholder="Телефон"></li>
                            <li><input type="password" class="form-control" name="inputPassword" id="inputPassword"
                                       placeholder="Пароль"></li>
                            <li class="pw-reset"><a href="#">напомнить пароль</a></li>
                            <li>
                                <button type="button" id="auch-menu-btn" class="btn btn-success loginBtn">Войти</button>
                            </li>
                            <li>
                                <button type="button" class="btn btn-info loginBtn"
                                        onclick="document.location='{{ url_for('registration') }}'">Зарегистрироватся
                                </button>
                            </li>

                            {# <li class="divider"></li>
                    <li><a href="#"><i class="fa fa-cog"></i> Настроить</a></li>
                    <li><a href="#"><i class="fa fa-star-o"></i> Избранное</a></li>
                    <li><a href="#"><i class="fa fa-sign-out"></i> Выход</a></li> #}
                        </ul>
                    {% endif %}


                </li>
                <li><a href="{{ url_for('about_us') }}">О нас</a></li>
            </ul>
        </div>
    </div>
