{% extends "base.html" %} {% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/pixelfabric-clothes/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='modernizer.custom.js') }}"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,700,600,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'> {% endblock %}
{% block navigation %}

{% include "navigation.html" %}
{% endblock %}
{% block body %}
    <div class="bg"></div>
    <div class="container-fluid header-post">
        <div class="row">
            <div class="container content">
                <div class="page-header">
                    <h1>{{ sale.sale_name }}
                        {% if sale.end_sale != None %}
                            <small>акция закончится <span>{{ sale.end_sale.strftime('%d.%m.%Y') }}г.</span></small>
                        {% endif %}</h1>
                </div>
                <div class="col-md-12">
                    {{ sale.about_sale | safe }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}