{% extends "base.html" %} {% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/pixelfabric-clothes/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='modernizer.custom.js') }}"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,700,600,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'> {% endblock %} {% block navigation %} {% endblock %}
{% block slider %} {% endblock %} {% block body %}
    <div class="bg"></div>

    <div class="order">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='img/Sir2.png') }}" alt=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-offset-0 col-sm-12 loginOrNo">
                    <div class="row">
                        <div class="col-md-6">

                            {% if  current_user.is_authenticated %}

                                <div class="userIsAuch">
                                    <h1>Привет, {{ current_user.username }}! </h1>

                                    <h2>Заказ на сумму: <span class=full_price></span> <i class="fa fa-rub"></i></h2>

                                    <form method="POST" class="form-horizontal">

                                        <div class="form-group">
                                            <label for="moneyAuch" class="col-sm-5 control-label"> Сдача с суммы в
                                                руб.</label>

                                            <div class="col-sm-7">
                                                <input type="number" class="form-control" id="moneyAuch" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="adressAuch" class="col-sm-12  text-left adressAuch">
                                                    Выберите адрес, либо напишите новый</label>
                                                <select id="adressAuch" multiple="multiple" title="Выберите адрес"
                                                        style="width: 100%">
                                                    {% for address in addreses %}
                                                        <option>{{ address }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-9 col-sm-3">
                                                <button type="submit" class="btn btn-success">Заказать</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <div class="auchUsers">
                                    <h2>Если вы зарегистрированный пользователь,
                                        <a class="auchOnSite" data-toggle="modal" data-target=".bs-example-modal-sm"
                                           href="#!">войдите на сайт</a>!</h2>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 borderLeft">
                            {% if not current_user.is_authenticated %}
                                <h2>Заказ на сумму: <span class=full_price></span> <i class="fa fa-rub"></i></h2>

                                <h4>Для выполнения заказа необходимо заполнить форму ниже</h4>

                                <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="userName" class="col-sm-3 control-label">Имя</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="userName" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userPhone" class="col-sm-3 control-label">Телефон</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="userPhone" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="userAddres" class="col-sm-3 control-label">Адрес</label>

                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="userAddres" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="money" class="col-sm-6 control-label"> Сдача с суммы в руб.</label>

                                        <div class="col-sm-6">
                                            <input type="text" class="form-control" id="money" placeholder="">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <div class="col-md-offset-9 col-sm-3">
                                            <button type="submit" id="sendAuchNone" class="btn btn-success">Заказать
                                            </button>
                                        </div>
                                    </div>
                                </form>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm orderModal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="fa fa-close"></i></button>
                    <h4 class="modal-title">Войти на сайт</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info wrongPhone">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i
                                class="fa fa-close"></i></button>
                        Заполните поле телефон!
                    </div>
                    <form id="auch">
                        <div class="form-group-lg">
                            <input type="tel" class="form-control" id="inputPhone" placeholder="Телефон">
                        </div>
                        <br>

                        <div class="form-group-lg">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="restorePass" class="btn btn-info">Напомнить пароль</button>
                    <button type="submit" id="auch-menu-btn" class="btn btn-success">Войти</button>
                </div>
            </div>
        </div>
    </div>
    <div class="checkOut">
        <div class="row">
            <div class="container">
                <h2>Ваш заказ</h2>
                <table class="table" id="tableOrder" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="">Наименование</th>
                        <th class=""></th>
                        <th class="col-md-2">Количество</th>
                        <th class="col-md-1">Цена</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
                <div class="col-sm-6">
                    <h3>Выберите вариант доставки</h3>

                    <div class="md-body">
                        <p>
                            <input value="delivery_home" name="group2" type="radio" id="delivery_home_order"/>
                            <label for="delivery_home_order">Доставка на дом(офис)</label>
                        </p>

                        <p>
                            <input value="no_delivery" name="group2" type="radio" id="no_delivery_order"/>
                            <label for="no_delivery_order">Самовывоз <span class="red">-10%</span></label>
                        </p>

                        <p>
                            <input value="in_cafe" name="group2" type="radio" id="in_cafe_order"/>
                            <label for="in_cafe_order">В кафе</label>
                        </p>

                        <p>
                            <input value="delivery_in_time" name="group2" type="radio" id="delivery_in_time_order"/>
                            <label for="delivery_in_time_order">Предзаказ</label>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <h2>Всего:</h2>

                    <p class="full"><span></span>
                        <small><i class="fa fa-rub"></i></small>
                    </p>

                </div>
                <a href="#0" class="closezakazbtn"><span class="og-close"></span></a>
            </div>
        </div>
    </div>
{% endblock %} {% block footer %} {% endblock %} {% block script %}

{% endblock %}
