{% extends "base.html" %} {% from 'form_gen.html' import render_form %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/pixelfabric-clothes/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='modernizer.custom.js') }}"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,700,600,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'> {% endblock %} {% block navigation %} {% endblock %}
{% block slider %} {% endblock %} {% block body %}
    <div class="bg sale"></div>

    <div class="order">
        <div class="container ">
            <div class="row">
                <div class="col-md-12 text-center">
                    <a href="{{ url_for('index') }}"><img src="{{ url_for('static',filename='img/Sir2.png') }}" alt=""></a>
                </div>
            </div>
            <div class="row">
                <div class="col-md-10 col-md-offset-1 col-sm-offset-0 col-sm-12 loginOrNo">
                    <div class="row">
                        <div class="col-md-6">

                            {% if  current_user.is_authenticated %}

                                <div class="userIsAuch">
                                    <h1>Привет, {{ current_user.username }}! </h1>

                                    <h2>Заказ на сумму: <span class=full_price></span> <i class="fa fa-rub"></i></h2>


                                    <form method="POST" class="form-horizontal">

                                        <div class="form-group">
                                            <label for="moneyAuch" class="col-sm-5 control-label"> Сдача с суммы в
                                                руб.</label>

                                            <div class="col-sm-7">
                                                <input type="number" class="form-control" id="moneyAuch" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">
                                                <label for="adressAuch" class="col-sm-12  text-left adressAuch">
                                                    Выберите адрес, либо напишите новый</label>
                                                <select id="adressAuch" title="Выберите адрес"
                                                        style="width: 100%">
                                                    {% for address in addreses %}
                                                        <option>{{ address }}</option>
                                                    {% endfor %}

                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-sm-12">

                                                <label for="text-area-form" class="col-sm-12  text-left adressAuch">
                                                    Комментарии к заказу</label>
                                                <textarea id="text-area-form" class="form-control" rows="3"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-offset-9 col-sm-3">
                                                <button type="submit" class="btn btn-success">Заказать</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            {% else %}
                                <div class="auchUsers">
                                    <h2>Если вы зарегистрированный пользователь,
                                        <a class="auchOnSite" data-toggle="modal" data-target=".bs-example-modal-sm"
                                           href="#!">войдите на сайт</a>!</h2>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-md-6 borderLeft">
                            {% if not current_user.is_authenticated %}
                                <h2>Заказ на сумму: <span class=full_price></span> <i class="fa fa-rub"></i></h2>

                                <h4>Для выполнения заказа необходимо заполнить форму ниже</h4>
                                {% for category, message in get_flashed_messages(with_categories=true) %}
                                    <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                                        <button type="button" class="close fa fa-close" data-dismiss="alert"
                                                aria-label="Close"></button>

                                        <p>{{ message }}</p>
                                    </div>
                                {% endfor %}
                                {{ render_form(form, action_url='', action_text='ЗАКАЗАТЬ') }}

                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade bs-example-modal-sm orderModal" tabindex="-1" role="dialog"
         aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><i
                            class="fa fa-close"></i></button>
                    <h4 class="modal-title">Войти на сайт</h4>
                </div>
                <div class="modal-body">
                    <div class="alert alert-info wrongPhone">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true"><i
                                class="fa fa-close"></i></button>
                        Заполните поле телефон!
                    </div>
                    <form id="auch">
                        <div class="form-group-lg">
                            <input type="tel" class="form-control" id="inputPhone" placeholder="Телефон">
                        </div>
                        <br>

                        <div class="form-group-lg">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="submit" id="restorePass" class="btn btn-info">Напомнить пароль</button>
                    <button type="submit" id="auch-menu-btn" class="btn btn-success">Войти</button>
                </div>
            </div>
        </div>
    </div>

{% endblock %} {% block footer %}
    {% include "footer.html" %}
{% endblock %} {% block script %}
    <script>
        var global_sale = {{ global_sale }};
        var settingsr ={{ settings_order | safe }};
    </script>

{% endblock %}
