{% extends "base.html" %} {% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/pixelfabric-clothes/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='modernizer.custom.js') }}"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,700,600,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'> {% endblock %}
{% block navigation %}

    {% include "navigation.html" %}
{% endblock %}
{% block body %}
    <div class="bg sale"></div>
    <div class="container-fluid header-post">
        <div class="row">
            <div class="container content">
                <div class="page-header">
                    <h1>Акции</h1>
                </div>

                {% for sale in sales %}
                    <div class="one-sale">
                        <h2><a href="{{ url_for("one_sale", sale_id=sale.id) }}">{{ sale.sale_name }}
                            {% if sale.end_sale != None %}
                                <small>акция закончится <span>{{ sale.end_sale.strftime('%d.%m.%Y') }}г.</span></small>
                            {% endif %}
                        </a></h2>

                    </div>
                {% endfor %}


            </div>
        </div>
    </div>
    <div class="checkOut">
        <div class="row">
            <div class="container">
                <h2>Ваш заказ</h2>
                <table class="table" id="tableOrder" cellspacing="0" width="100%">
                    <thead>
                    <tr>
                        <th class="">Наименование</th>
                        <th class=""></th>
                        <th class="col-md-2">Количество</th>
                        <th class="col-md-1">Цена</th>
                        <th class="col-md-1"></th>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
                <hr>
                <div class="col-sm-6">
                    <h3>Выберите вариант доставки</h3>

                    <div class="md-body">
                        <p>
                            <input value="delivery_home" name="group2" type="radio" id="delivery_home_order"/>
                            <label for="delivery_home_order">Доставка по городу</label>
                        </p>
                        <p>
                            <input value="delivery_out_home" name="group2" type="radio" id="delivery_out_home_order"/>
                            <label for="delivery_out_home_order">Доставка за пределы города <span class="red">+10%</span></label>
                        </p>

                        <p>
                            <input value="no_delivery" name="group2" type="radio" id="no_delivery_order"/>
                            <label for="no_delivery_order">Самовывоз <span class="red">-10%</span></label>
                        </p>

                        <p>
                            <input value="in_cafe" name="group2" type="radio" id="in_cafe_order"/>
                            <label for="in_cafe_order">В кафе</label>
                        </p>

                        <p>
                            <input value="delivery_in_time" name="group2" type="radio" id="delivery_in_time_order"/>
                            <label for="delivery_in_time_order">Предзаказ</label>
                        </p>
                    </div>
                </div>
                <div class="col-md-6 text-right">
                    <h2>Всего:</h2>

                    <p class="full"><span></span>
                        <small><i class="fa fa-rub"></i></small>
                    </p>
                    <p>
                        <button type="button" id="orderNow" class="btn btn-lg btn-success">ЗАКАЗАТЬ</button>
                    </p>
                </div>
                <a href="#0" class="closezakazbtn"><span class="og-close"></span></a>
            </div>
        </div>
    </div>
    <div class="nifty-modal super-scaled" id="select_delivery">
        <div class="md-content">
            <div class='md-title'>
                <h3>Выберите вариант доставки</h3>
            </div>
            <div class='md-body'>
                <p>
                    <input value="delivery_home" name="group1" type="radio" id="delivery_home"/>
                    <label for="delivery_home">Доставка по городу</label>
                </p>
                <p>
                            <input value="delivery_out_home" name="group1" type="radio" id="delivery_out_home_order"/>
                            <label for="delivery_out_home_order">Доставка за пределы города <span class="red">+10%</span></label>
                        </p>

                <p>
                    <input value="no_delivery" name="group1" type="radio" id="no_delivery"/>
                    <label for="no_delivery">Самовывоз <span class="red">-10%</span></label>
                </p>

                <p>
                    <input value="in_cafe" name="group1" type="radio" id="in_cafe"/>
                    <label for="in_cafe">В кафе</label>
                </p>

                <p>
                    <input value="delivery_in_time" name="group1" type="radio" id="delivery_in_time"/>
                    <label for="delivery_in_time">Предзаказ</label>
                </p>

                <p>Выбор вы можете изменить в корзине</p>
                <button class="btn btn-primary md-close">Я выберу позже</button>
            </div>
        </div>
    </div>
    <div class='md-overlay'></div>
{% endblock %}