{% extends "base.html" %} {% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/pixelfabric-clothes/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='modernizer.custom.js') }}"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,700,600,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'> {% endblock %}
{% block navigation %}

    {% include "navigation.html" %}
{% endblock %}
{% block body %}
    <div class="bg sale"></div>
    <div class="container-fluid header-post">
        <div class="row">
            <div class="container content">
                <div class="page-header">
                    <h1>Акции</h1>
                </div>

                {% for sale in sales %}
                    <div class="one-sale">
                        <h2><a href="{{ url_for("one_sale", sale_id=sale.id) }}">{{ sale.sale_name }}
                            {% if sale.end_sale != None %}
                                <small>акция закончится <span>{{ sale.end_sale.strftime('%d.%m.%Y') }}г.</span></small>
                            {% endif %}
                        </a></h2>

                    </div>
                {% endfor %}


            </div>
        </div>
    </div>

{% endblock %}
{% block footer %}
{% include "footer.html" %}{% endblock %}