{% extends "base.html" %}
{% from 'form_gen.html' import render_form %}
{% block head %}
    <link rel="stylesheet" type="text/css"
          href="{{ url_for('static', filename='fonts/pixelfabric-clothes/style.css') }}"/>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='modernizer.custom.js') }}"></script>
    <!-- GOOGLE FONTS -->
    <link href='https://fonts.googleapis.com/css?family=Exo+2:400,100,200,300,500,700,600,800&subset=latin,cyrillic'
          rel='stylesheet' type='text/css'> {% endblock %} {% block navigation %}

    {% include "navigation.html" %}
{% endblock %} {% block body %}
    <div class="bg"></div>
    <div class="container-fluid header-post">
        <div class="row">
            <div class="container content" style="padding-bottom: 25px;">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "errors" %}
                                <div class="alert alert-warning alert-dismissible" role="alert">
                                    <button type="button" class="close fa fa-close" data-dismiss="alert"
                                            aria-label="Close"><span
                                            aria-hidden="true"></span></button>
                                    <strong>{{ message }}</strong>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="col-md-6">
                    <h1>Войти на сайт</h1>

                    {{ render_form(form_auch,action_url='', action_text='Войти') }}
                </div>
                <div class="col-md-6">
                    <h1>Регистрация на сайте</h1>
                    {{ render_form(form, action_url='', action_text='Регистрация') }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block footer %}
{% include "footer.html" %}{% endblock %}